---
import '../styles/global.css';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="ブログ"/>
        <p>ここには、ブログを投稿します。</p>
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
        <script>
            import "../scripts/menu.js";
        </script>
</BaseLayout>

